
body {
	font-family: Arial;
	background-color: AliceBlue;
	border: 10px solid grey;
	padding: 30px;
	font-size: 150%;
	text-align: center;
	
}
 h1 {
	color: blue;
	text-align: center;
	font-size: 250%;
}
img.resize {
	width: 200%;
	height: auto;
}
h2 {
	text-align: center;
	font-size: 200%;
}
#images/HJ.jpg {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}



